@* <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5">¿Estás seguro de que deseas eliminar <strong id="userName"></strong>?</p>
                <p><strong>Este cambio es irreversible.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" asp-action="EliminarUsuario" asp-controller="Usuario" method="post">
                    <input type="hidden" name="id" id="deleteUserId" />
                    <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap 5 JS y CSS -->


<script>
    function setUserToDelete(userName, userId) {
        document.getElementById('userName').innerText = userName;
        document.getElementById('deleteUserId').value = userId;
    }
</script>
 *@